<h3 class="content">
  Screen Time Unlocked!
</h3>
<p class="content">
  Choose a challenge to regain access to your app.
</p>
<div class="row-layout challenge-options">
  <button igxButton="contained" type="button" class="run-challenge-button">
    <igx-icon>
      directions_run
    </igx-icon>
    <span>Run 0.1 Miles</span>
  </button>
  <button igxButton="contained" type="button" class="run-challenge-button">
    <igx-icon>
      search
    </igx-icon>
    <span>Find an Item</span>
  </button>
</div>
