:host {
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 32px 0;
}
.find-item-title {
  text-align: center;
  height: max-content;
  min-width: min-content;
}
.item-to-find {
  height: max-content;
  min-width: min-content;
}
.user-input {
  height: max-content;
  min-width: min-content;
}
.confirm-found-button {
  --ig-size: var(--ig-size-large);
  height: max-content;
}
